
a {
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url("../images/IMG-1553.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}


/* header */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(154, 155, 157);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/* sections */
.section {
    margin: 50px 0;
    border: 3px solid black;
    padding: 50px;
   display: flex;
   flex-wrap: wrap;
}

.section-heading {
margin-bottom: 50px;
margin-right: 50px;
padding-right: 50px;
border: 3px solid black;
display: inline;
min-width: 100px;
}

p {
    border: 3px solid black; 
}


.bio {
    border: 3px solid black;
    max-width: 500px;
}

/* projects*/

#Project1 {
    height: 200px;
    width: 300px;
    background-image: url("../images/Screenshot\ 2022-05-06\ 114520.png");
    background-size: cover;
    background-position: center;
    border: 3px solid wheat;
    margin: 5px;
    flex: 3;
    min-width: 200px;
}

#Project2 {
    height: 200px;
    width: 300px;
    background-image: url("../images/Screenshot\ 2022-05-06\ 114520.png");
    background-size: cover;
    background-position: center;
    border: 3px solid wheat;
    margin: 5px;
    flex: 1;
    min-width: 200px;
    
}

#Project3 {
    height: 200px;
    width: 300px;
    background-image: url("../images/Screenshot\ 2022-05-06\ 114520.png");
    background-size: cover;
    background-position: center;
    border: 3px solid wheat;
    margin: 5px;
    flex: 1;
    min-width: 200px;
}



