/* Global styles */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: white;
    display: flex;
  }
  
  body {
    background-color: #eeeee4;
  }
  
  /* Header */
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(154, 155, 157);
    padding: 20px;
  }

  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    display: inline-block;
    font-size: 35px;
    margin-left: 20px;
  }
  
  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
  }
  
  .header nav ul {
    list-style-type: none;
  }
  
  .header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }

  .header nav ul li:hover {
    text-decoration: underline;
    color: rgb(68, 68, 248);
  }

  .header img {
    height: 85px;
    width: 85px;
    margin-left: 15px;
  }
  
  /* Sections */
  .section {
    margin: 50px 0;
    border: 3px solid gray;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .section-heading {
    margin-bottom: 50px;
    margin-right: 50px;
    min-width: 100px;
  }

  .section ul {
    list-style-type: none;
  }

  .bio {
    border: 3px dashed #C499D0;
    padding: 5px;
  }

  
  /* Projects */
  .project {
    text-align: center;
    margin: 15px;
    min-width: 200px;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  
  .project img {
    width: 100%;
    height: 200px;
  }
  
  .project a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .project h3 {
    margin: 0;
    background-color: gray;
    color: white;
    padding: 2px;
  }
  
  .project#Project1 {
    flex-grow: 2;
    max-width: 400px;
  }

  .project#Project2, .project#Project3 {
    max-width: 250px;
  }
  
  .project:hover {
    box-shadow: 0 10px 20px gray;
  }
  
  .project:hover h3 {
    background-color: rgb(68, 68, 248);
  }
  
  .hero {
    background-image: url("../images/IMG-1553.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }